Repository openshift/network-tools, pull requests merged in 2023-11, with the labels that each got.

#97 SDN-4182: Script cleanup + track ovnk upstream issues in jira
  jira-scripts/README.md
  jira-scripts/network_bugs_overview
Labels: approved, lgtm, jira/valid-reference

#98 SDN-4189: Add flow counter script for ACLs
  debug-scripts/network-tools
  debug-scripts/scripts/ovn-count-flows
  debug-scripts/utils
  docs/user.md
Labels: approved, lgtm, jira/valid-reference, acknowledge-critical-fixes-only

#99 SDN-4189: Fix error when nbdb and sbdb leader are located on different nodes
  debug-scripts/scripts/ovn-count-flows
Labels: approved, lgtm, jira/valid-reference, acknowledge-critical-fixes-only

#102 OCPBUGS-24276: Add "networking / network-tools" to list of components
  jira-scripts/network_bugs_overview
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference
